<template id="cmp-selector-base" type="text/x-handlebars-template">
	<div class="cmp-selector">

		<div class="ux-selector-original-field-cnt display-none"></div>

		<div class="inner flex-column">

			<div class="selector-input-cnt ux-selector-input">
				<div class="inner flex-center">

					<input class="input-field ux-selector-input-field" readonly="readonly" type="text" placeholder="{{ input_placeholder }}"/>

					<div class="badge badge-circle ml-5 ux-popover-trigger">
						<span class="badge-text" data-param="selections-amount">24</span>

						<div class="popover ux-popover" data-shown="0">
							<div class="popover-inner bla-bla-bla ux-selector-selections-list"></div>
						</div>
					</div>

					<div class="input-dropdown-icon ux-selector-dropdown-trigger">
						<i class="icon ml-5 mr-5">~</i>
					</div>
				</div>
			</div>

			<div class="selector-dropdown-cnt ux-selector-dropdown-cnt"></div>
		</div>
	</div>
</template>


<template id="cmp-selector-dropdown" type="text/x-handlebars-template">
	<div class="inner">

		<div class="tools-cnt dropdown-list-cnt p-10">

			<div class="search-filter list-item mb-10">
				<div class="inner flex-align-center">

					<input class="input-field ux-selector-search-field" type="text" placeholder="{{ search_placeholder }}"/>
					<i class="icon mr-5">~</i>
				</div>
			</div>

			<div class="view-mode list-item ux-selector-view-mode-cnt">
				<div class="btn-toolbar flex-justify-space-between">

					<div class="btn-group" data-groupable="{{ list_groupable }}">
						<div class="btn ux-selector-view-mode-ungrouped ui-active">
							<i class="btn-icon">~</i>
						</div>

						<div class="btn ux-selector-view-mode-grouped">
							<i class="btn-icon">~</i>
						</div>
					</div>

					<div class="btn ux-selector-view-mode-extended">
						<i class="btn-icon">~</i>
					</div>
				</div>
			</div>
		</div>

		<div class="results-cnt results-selected">
            <div class="inner ux-selector-selected-cnt dropdown-list-cnt list-scrollable p-10 ui-order-by-data-recent ui-user-card-list" data-user-card-type="sm"></div>
        </div>

        <div class="results-cnt">
            <div class="inner ux-selector-results-cnt dropdown-list-cnt list-scrollable p-10 ui-order-by-data-recent ui-user-card-list" data-user-card-type="sm"></div>
        </div>
	</div>
</template>


<template id="cmp-selector-result-item" type="text/x-handlebars-template">
	<div class="result-item list-item ux-selector-result-item" data-recent="{{ item_recent }}">
		<div class="inner">

			<div class="user-card" data-activity-state="{{ activity_state }}" data-user-color="{{ user_color }}">
				<div class="inner">

					<div class="card-checkable">
						<input class="checkbox-field" type="checkbox" value="" />
					</div>

					<div class="card-image">
						<div class="avatar">
							<span class="avatar-initials">{{ avatar_initials }}</span>
							<span class="avatar-state"></span>
						</div>
					</div>

					<div class="card-data flex-column">
						<span class="data-name" data-param="name">{{ first_name }} {{ last_name }}</span>
						<span class="data-email" data-param="email">{{ email }}</span>
					</div>

					<div class="card-flags">
						<i class="icon icon-recent">~</i>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
